# --- COMPOSER
php/composer.phar
/php/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# --- VUE 2(3)
vue/.DS_Store
vue/node_modules
/vue/dist


# local env files
vue/.env.local
vue/.env.*.local

# Log files
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*
vue/pnpm-debug.log*

# Editor directories and files
vue/.idea
vue/.vscode
vue/*.suo
vue/*.ntvs*
vue/*.njsproj
vue/*.sln
vue/*.sw?

php/logs